#visit {
  padding: 40px 0;
  .visit {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    @media (max-width: 800px) {
      justify-content: space-between;
    }
    @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      h1 {
        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 40px;
        line-height: 100%;
      }
      &__icon {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-weight: 400;
          font-style: Regular;
          font-size: 40px;
          line-height: 100%;
          font-family: "Shalimar", cursive;
        }
      }
      &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h3 {
          color: #ef272c;
          font-family: "League Spartan", sans-serif;
          font-weight: 500;
          font-style: Medium;
          font-size: 24px;
          line-height: 24px;
        }
        p {
          font-family: "League Spartan", sans-serif;
          font-weight: 500;
          font-style: Medium;
          font-size: 20px;
          line-height: 24px;
        }
      }
      &__btn {
        position: relative;
        button {
          background: none;
          color: white;
          border: 1.6px solid #ef272c;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px 40px;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 12px;
          text-transform: uppercase;
        }
        &--lineTop {
          border: 1.4px solid #ef272c;
          position: absolute;
          top: -10px;
          right: 0;
          width: 150px;
        }
        &--lineBottom {
          border: 1.4px solid #ef272c;
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 150px;
        }
      }
    }
    &--right {
      width: 440px;
      padding: 20px;
      background: #ef272c;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      h2 {
        color: #1f2731;
        font-family: sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 24px;
        line-height: 100%;
        text-transform: uppercase;
      }
      h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #1f2731;
        font-weight: 400;
        font-style: Regular;
        font-size: 22px;
        line-height: 100%;
      }
      @media (max-width: 800px) {
        width: 300px;
        iframe {
          width: 100%;
        }
      }
      &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          color: #1f2731;
          font-size: 25px;
        }
      }
      @media (max-width: 550px) {
        background: none;
        h2 {
          display: none;
        }
        h3 {
          display: none;
        }
        &__link {
          display: none;
        }
      }
    }
  }
}
